<h2 mat-dialog-title>
  New Todo
</h2>
<mat-dialog-content>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input [readonly]="true" matInput value="" class="form-control" formControlName="id">
    </mat-form-field>
  </div>


  <div>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput value="" class="form-control" formControlName="title">
    </mat-form-field>
  </div>


  <div>
    <mat-form-field>
      <input matInput class="form-control" formControlName="started" [matDatepicker]="picker" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>


  <div>
    <mat-form-field>
      <input matInput class="form-control" formControlName="completed" [matDatepicker]="picker2" placeholder="Completed date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline">
      <input matInput style="display: none">
      <mat-checkbox formControlName="archived">Archive</mat-checkbox>
      <!-- <input placeholder="Archive" type="checkbox" formControlName="archived"> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea matInput class="form-control" formControlName="comment">
                </textarea>
    </mat-form-field>
  </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="onClose()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="onSave()">
        Save
    </button>

</mat-dialog-actions>
